
////////////////////////////////////////////////
// BASE
////////////////////////////////////////////////

.footer {
	padding-bottom: 45px;
}


.footer-inner {
	background-color: $gray-light;

	padding: 60px;
	position: relative;
	z-index: 1;
}


@media screen and (max-width: 480px) {

	.footer-inner {
		padding: 45px 30px;
	}
	
}


@media screen and (max-width: 360px) {

	.footer-inner {
		padding: 30px 15px;
	}
	
}


////////////////////////////////////////////////
// CONTACTS
////////////////////////////////////////////////


.footer-contacts-item {
	display: block;
	padding: 0;
	margin-bottom: 25px;

	a {
		display: inline-block;
		background-size: 1em;
		padding-left: 2em;
		background-repeat: no-repeat;
		background-position: left center;
	}

}


.footer-contacts {
	padding: 0;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 60px;

	a {
		color: $black;
		text-decoration: none;
	}

	&__email a {
		background-image: url(../assets/icons/contact-email.svg);
	}

	&__vk a {
		background-image: url(../assets/icons/contact-vk.svg);
		background-size: 1.3em;
	}

	&__tg a {
		background-image: url(../assets/icons/contact-tg.svg);
		background-size: 1.3em;
	}
}





//////////////////////////////////////////////////
// LOGO
////////////////////////////////////////////////

.footer-logo {
	text-align: center;

	margin-top: 90px;
	margin-bottom: 15px;

	img {
		opacity: .2;

		width: 16px;

		user-select: none;
		user-drag: none; 
		pointer-events: none;
	}
}