.header {
	position: relative;
	width: 100%;
	margin-bottom: 90px;

	&--home {
		margin-bottom: 0;
		overflow: hidden;
	}

}


.header-lead {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 120px;
	margin-bottom: 150px;

	&::before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 70%;
		background: $gray-light;
	}

	&__content {
		display: flex;
	}

	&__title {
		margin: 0;
		font-size: 3.7em;
		line-height: 1.2;
		font-weight: bold;
		color: $prim;
		position: relative;
		z-index: 1;

		// &::before {
		// 	content: "Мы — indimedia";
		// 	color: rgba($black, .04);

		// 	display: block;
		// 	position: absolute;
		// 	z-index: -1;
		// 	max-width: 360px;
		// 	left: 40px;
		// 	transform: scale(1.5);

		// 	pointer-events: none;
		// }

	}

	&__front-title {
			background: -webkit-linear-gradient(45deg, #CC0F94, #F11C3E);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			opacity: 0;

			display: block;
			width: 100%;

			transform: translateY(15px);

			transition: $transition;

			&.show {
				opacity: 1;

				transform: translateY(0);
			}
	}

	&__back-title {
			color: rgba($black, .04);
			opacity: .7;

			display: block;
			position: absolute;
			z-index: -1;
			max-width: 360px;
			top: -10px;
			left: 40px;
			transform: scale(1.5);

			transition: $transition;
			pointer-events: none;
			user-select: none;

			// &.show {
			// 	opacity: 1;

			// 	top: -10px;
			// }
	}

	&__text {
		font-family: $font;
		font-size: 1.5em;
		font-weight: normal;
		line-height: 1.6;

		position: relative;
		// padding-top: 60px;
		padding-left: 90px;
		margin: 0;
		margin-top: 15px;
		z-index: 1;
	}

}


@media screen and (max-width: 1440px) {

	.header-lead {
		position: relative;
		padding-top: 75px;
		padding-bottom: 75px;
		margin-top: 90px;
		margin-bottom: 120px;
	}

}

@media screen and (max-width: 991px) {

	.header-lead {
		margin-top: 120px;
		margin-bottom: 180px;

		&__content {
			display: block;
		}

		&__title {
			font-size: 3.2em;
		}

		&__text {
			padding: 0;
		}

	}

}

@media screen and (max-width: 575px) {

	.header-lead {
		margin-top: 70px;
		margin-bottom: 100px;
		padding-left: 15px;
		padding-right: 15px;

		&__title {
			font-size: 2.8em;
		}

		&__text {
			font-size: 1em;
		}

	}

}


.digital-bg {
	width: 110vw;
	max-width: initial;
	position: absolute;
	z-index: -1;
	top: 25%;
	left: -5vw;
	opacity: .03;
}