.services {
	background: #fafafa;
	color: white;
	position: relative;
}

.services-col {
	margin-bottom: 30px;
}

.services-item {
	$c: &;
	background-color: rgba($prim, .8);
	// background: linear-gradient(-45deg, lighten($black, 5%), lighten($black, 15%));
	position: relative;
	z-index: 1;
	display: block;
	height: 100%;
	color: white;
	text-decoration: none;

	&__inner {
		height: 100%;
		padding: 35px 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&:hover, &:focus {
		text-decoration: none;
		color: white;
		outline: none;
	}

	&__icon {
		max-width: 70px;
		display: block;
		margin-bottom: 30px;
	}

	&__title {
		font-size: 1.4em;
		font-weight: bold;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 14px;
		line-height: 1.8;
		opacity: .5;
		transition: .4s;
	}

	&__more {
		flex: 1;
		display: flex;
		align-items: flex-end;

		span {
			display: block;
			width: 100%;
			font-weight: bold;
			color: white;
			margin-top: 30px;
			background: url(../assets/icons/arrow-right-white.svg) no-repeat right 45px center;
			background-size: auto 1em;
			opacity: .3;
			transition: .4s;
		}


	}

	&:hover #{$c}__more span, &:focus #{$c}__more span {
		background-position: right center;
		opacity: 1;
	}

	&:hover #{$c}__text, &:focus #{$c}__text {
		opacity: 1;
	}

}


// @media screen and (max-width: 991px) {


// 	.services-item {

// 		&__inner {
// 			padding: 30px;
// 		}
// 	}

// }

@media screen and (max-width: 575px) {

	.services-col {
		padding-right: 30px;
		padding-left: 30px;
	}

}

@media screen and (max-width: 360px) {

	.services-col {
		padding-right: 15px;
		padding-left: 15px;
	}

	.services-item {
		
		&__inner {
			padding: 30px 20px;
		}
	}

}