<footer id="contact" class="footer">
<div class="container">
<div class="footer-inner">	
<div class="row">

	<div class="col-12 col-lg-5">
		<ul class="footer-contacts">
			<li class="footer-contacts-item footer-contacts__email"><a href="mailto:mail@indimedia.ru">mail@indimedia.ru</a></li>
			<li class="footer-contacts-item footer-contacts__vk"><a href="https://vk.com/indimedia_zakazat_sayt" target="_blank">ВКонтакте</a></li>
			<li class="footer-contacts-item footer-contacts__tg"><a href="https://t.me/indimediabbot" target="_blank">Telegram-бот</a></li>
		</ul>
	</div>

	<div class="col-12 col-lg">
		@@include('../components/form.html')
	</div>

</div>
</div>
</div>
</footer>