<header class="header">
	<nav class="header-nav">
		<div class="container">
			<div class="row align-items-center">

				<div class="col-auto header-nav-col header-nav-col--logo"><a href="/" class="logo">indimedia</a></div>

				<div class="col header-nav-col header-nav-col--hamburger">
					<button class="menu-btn btn-hamburger js-menu-btn">Меню<span></span><span></span></button>	
				</div>

				<div class="col-12 col-sm header-nav-col header-nav-col--menu">
					<div class="menu js-menu-links">
						<ul>
							<li><a href="/#section-services">Услуги</a></li>
							<li><a href="/#section-portfolio">Портфолио</a></li>
							<li><a href="#section-contact" class="smoothScroll">Контакты</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>
</header>