<header class="header header--home">

	<nav class="header-nav">
		<div class="container">
			<div class="row align-items-center">

				<div class="col-auto header-nav-col header-nav-col--logo"><a href="/" class="logo">indimedia</a></div>

				<div class="col header-nav-col header-nav-col--hamburger">
					<button class="menu-btn btn-hamburger js-menu-btn">Меню<span></span><span></span></button>	
				</div>

				<div class="col-12 col-sm header-nav-col header-nav-col--menu">
					<div class="menu js-menu-links">
						<ul>
							<li><a href="#section-services" class="smoothScroll">Услуги</a></li>
							<li><a href="#section-portfolio" class="smoothScroll">Портфолио</a></li>
							<li><a href="#section-contact" class="smoothScroll">Контакты</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<div class="header-lead">
		<div class="container">
			<div class="header-lead__content">
				<h1 class="header-lead__title">
					<div id="header-slide-up-title" class="header-lead__front-title">Мы — <br />indimedia</div>
					<div id="header-slide-up-title-bg" class="header-lead__back-title">Мы — <br />indimedia</div>
				</h1>
				<div class="header-lead__text">
					<p>рекламное агентство. <br />Сможем наладить поток клиентов для вашего бизнеса используя все возможности интернета.</p>
				</div>
			</div>
		</div>
	</div>

</header>
