
<header class="header header--home">

	<img class="digital-bg rellax" data-rellax-speed="-2" src="assets/img/bgword.svg"></img>

	<nav class="header-menu">
		<div class="container">
			<div class="header-menu-links">
				<a href="/" class="logo">indimedia</a>
				<div class="header-menu__contact-cta">
					<button class="smoothScroll" href="#contact">Связаться</button>
				</div>
				<ul>
					<li><a href="#services" class="smoothScroll">Услуги</a></li>
					<li><a href="#portfolio" class="smoothScroll">Портфолио</a></li>
					<!-- <li><a href="#contact" class="smoothScroll">Контакты</a></li> -->
				</ul>
			</div>
		</div>
	</nav>

	<div class="header-lead">
		<div class="container">
			<div class="header-lead__content">
				<h1 class="header-lead__title">Мы — <br />indimedia</h1>
				<div class="header-lead__text">
					<p>рекламное агентство.<br />Мы поставляем нашим клиентам свежие лиды и совершенствуем их бизнес в интернете.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="header-particles"></div>

</header>
