<meta charset="utf-8">
<title>indimedia - digital-студия</title>
<meta name="description" content="«indimedia» - интернет рекламное агентство. Увеличиваем количество лидов и рост оборота за счет правильного продвижения."/>
<meta name="keywords"  content="реклама питер, реклама москва, рекламное агентство, размещение рекламы, агентство рекламы,рекламное сопровождение бизнеса, медиа агентства, услуги рекламного агентства, медиапланирование, реклама в интернете, контекстная реклама," />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400i,500,600,700,700i,800,900&amp;subset=cyrillic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i,800&amp;subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap-grid.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/style.css?v=8.4">