<div class="footer-form">
	<form id="contactForm" action="contact.php" method="POST" class="contactForm footer-form__inner inputs inputs--light">

		<h2 class="footer-form__title">Оставить сообщение</h2>

		<label class="footer-form__contact input-text">
			<input id="contact-method" type="text" name="formcontactmethod" class="formcontactmethod" placeholder="Удобный способ связи. VK, FB, Telegram, WhatsApp..">
			<div class="input-title">Удобный способ связи. VK, FB, Telegram, WhatsApp..</div>
		</label>

		<label class="footer-contact__message input-text">
			<textarea id="contact-message" name="formmessage" class="formmessage" placeholder="Ваше сообщение..."></textarea>
			<div class="input-title">Ваше сообщение</div>
		</label>

		<div class="form-submit form-submit--light">
			<input type="submit" value="Отправить заявку">
		</div>

		<div class="contact-form-result contact-form-result--success formSuccess"><div class="contact-form-result__inner"><p><b>Заявка успешно отправлена!</b>Мы свяжемся с вами как можно скорее.</p></div></div>
		<div class="contact-form-result contact-form-result--fail formFail"><div class="contact-form-result__inner"><p><b>Ошибка!</b>Форма сломалась или устала. Попробуйте связаться с нами одним из других контактов, указанных на этой странице.</p></div></div>
		<div class="contact-form-result contact-form-result--notfilled formNotFilled"><div class="contact-form-result__inner"><p><b>Форма не заполнена!</b>Если вам никак не удается заполнить форму, попробуйте связаться с нами одним из других контактов, указанных на этой странице.</p></div></div>

	</form>
</div>