<nav class="header-menu">
	<div class="container">
		<div class="header-menu-links">
			<a href="/" class="logo">indimedia</a>
			<ul>
				<li><a href="#services" class="smoothScroll">Услуги</a></li>
				<li><a href="#portfolio" class="smoothScroll">Портфолио</a></li>
				<li><a href="#contact" class="smoothScroll">Контакты</a></li>
				<li><a href="blog.html">Блог</a></li>
			</ul>
			<div class="header-menu__contact-cta">
				<button class="smoothScroll" href="#contact">Связаться</button>
			</div>
		</div>
	</div>
</nav>