<section class="services-links">
	<div class="container">
		<div class="row">

			<div class="col-12 col-sm-6 col-lg">
				<a href="services-marketing.html" class="services-links-item">
					<div class="services-links-item__title">Интернет-маркетинг</div>
					<div class="services-links-item__subtitle">Контекстная реклама, SMM, SEO</div>
				</a>
			</div>

			<div class="col-12 col-sm-6 col-lg">
				<a href="services-marketing.html" class="services-links-item services-links-item--current" tabindex="-1">
					<div class="services-links-item__title">Графический дизайн</div>
					<div class="services-links-item__subtitle">Брендинг, фирменный стиль</div>
				</a>
			</div>

			<div class="col-12 col-sm-6 col-lg">
				<a href="services-marketing.html" class="services-links-item">
					<div class="services-links-item__title">Сайты</div>
					<div class="services-links-item__subtitle">Дизайн, разработка и продвижение сайтов</div>
				</a>
			</div>

			<div class="col-12 col-sm-6 col-lg">
				<a href="services-marketing.html" class="services-links-item">
					<div class="services-links-item__title">Приложения</div>
					<div class="services-links-item__subtitle">Дизайн и разработка мобильных приложений</div>
				</a>
			</div>

		</div>
	</div>
</section>