.btn {
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;

	transition: .2s;
}

.btn-more {
	font-weight: 600;
	display: inline-block;
	background: transparent;
	border: 2px solid $black;
	border-radius: 99px;
	padding: .5em 1.8em;

	position: relative;

	&::after {
		content: "";
		display: block;
		width: 68px;
		height: 14px;
		background: url(../assets/icons/btn-more-arrow.svg) no-repeat center;
		background-size: 100%;
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%);
		transition: .8s;
		opacity: 0;
	}
}