.input-text {
	margin: 0;
	padding-top: 20px;
	display: block;
	position: relative;

	input, textarea {
		
		font: inherit;
		font-size: 14px;
		width: 100%;
		margin: 0;
		padding: 15px 0;
		padding-bottom: 20px;
		border: 2px solid transparent;
		border-bottom-color: $black;
		background: none;

		transition: $transition;

		&:focus {
			outline: none;

			~ .input-title {
				opacity: 1;
				top: 0;
			}
		}

	}

	textarea {
		height: 100px;
	}

	&.input-dirty {

		input, textarea {
			outline: none;

			~ .input-title {
				opacity: 1;
			}

		}

	}


	&--light {
		
		input, textarea {
			color: white;
			border-bottom-color: white;
		}

	}

}

.input-title {
	font-size: 13px;
	line-height: 1.2;
	margin-bottom: 5px;
	position: absolute;
	top: 5px;
	left: 0;
	opacity: 0;

	transition: $transition-fast;
}

.inputs {


	.input-text {
		margin-bottom: 25px;
	}

	&--light {

		.input-text {

			input, textarea {
				border-bottom-color: white;
				color: white;

				&:focus {
				}

			}

			&.input-dirty {

				input, textarea {
					color: white;
				}
			}


		}
	}

}


.form-submit {

	input, button {
		font: inherit;
		font-size: 16px;
		font-weight: bold;
		text-align: left;
		display: block;
		width: 100%;
		padding: 20px;
		background: $black url(../assets/icons/arrow-right-white.svg) no-repeat right 60px center;
		background-size: auto .8em;
		border: none;
		opacity: .5;

		transition: .3s;
		cursor: pointer;

		&:hover, &:focus {
			outline: none;
			background-position: right 15px center;
			padding-left: 30px;
			opacity: 1;
		}
	}

	&--light {

		input, button {
			background-color: white;
			color: $black;
			background-image: url(../assets/icons/arrow-right.svg);
		}

	}
}




.checkbox {

	&__input {
	  position: absolute;
	  opacity: 0;

	  & + label {
	    position: relative;
	    cursor: pointer;
	    padding: 0;
	  }

	  & + label:before {
	    content: '';
	    margin-right: 10px;
	    display: inline-block;
	    vertical-align: text-top;
	    width: 20px;
	    height: 20px;
	    background: white;
	  }

	  &:hover + label:before {
	    background: #eee;
	  }
	  
	  &:focus + label:before {
	    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	  }

	  &:checked + label:before {
	    background: $prim;
	  }
	  
	  &:disabled + label {
	    color: #b8b8b8;
	    cursor: auto;
	  }

	  &:disabled + label:before {
	    box-shadow: none;
	    background: #ddd;
	  }

	  &:checked + label:after {
	    content: '';
	    position: absolute;
	    left: 5px;
	    top: 9px;
	    background: white;
	    width: 2px;
	    height: 2px;
	    box-shadow: 
	      2px 0 0 white,
	      4px 0 0 white,
	      4px -2px 0 white,
	      4px -4px 0 white,
	      4px -6px 0 white,
	      4px -8px 0 white;
	    transform: rotate(45deg);
	  }
	}

}



.form-agree {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;

	a {
		color: $prim;
		text-decoration: underline;
	}
}




@media screen and (max-width: 480px) {

	.input-text {

		input, textarea {
			font-size: 14px;
		}

		textarea {
			height: 90px;
		}

	}

}






