.link-fancy {
	text-decoration: none;
	display: inline-block;
	vertical-align: baseline;
	position: relative;

	transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);

	&::before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		height: 100%;
		width: 0;

		background: $prim;

		transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}

	&:hover, &:focus {
		outline: none;
		color: #fff;
		text-decoration: none;

		&::before {
			width: 100%;
		}
	}

}