$black: #1F252D;
// $prim: #F11C3E;
$prim: #f31c62;
$sec: #0755C0;

$gray-light: #F3F5F6;

$font: 'Montserrat', sans-serif;
$font-text: 'Tinos', 'PT Serif', 'Georgia', serif;

$shadow-light: 0 10px 20px rgba($black, .15);
$shadow-light-hover: 0 20px 25px rgba($black, .1);

$transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$transition-fast: .25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$transition-slow: .7s cubic-bezier(0.455, 0.03, 0.515, 0.955);