$black: #1F252D;
$prim: #F11C3E;

$gray-light: #eeeeef;

$font: 'Montserrat', sans-serif;
$font-serif: 'PT Serif', serif;

$shadow-light: 0 10px 20px rgba($black, .15);
$shadow-light-hover: 0 20px 25px rgba($black, .1);